.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, 400px);
    background-color: #ff0000;
}



    .cards img {
        margin: 10px;
        max-width:350px;
       
    }
