@media screen and (max-width:750px) {
	html {
		font-size: 12px;
	}

	body {
		background-color: #525e94;
	}
}

@media screen and (min-width:750px) {
	body {
		background-color: #525e94;
	}
}

#layout {
	display: grid;
	grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
	grid-template-columns: 10% 80% 10%;
	background-color: #f6f5f4;
}


main {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	justify-content: space-between;
	padding: 10px;
}


h1 {
	text-align: center;
	font-family: "Lucida Handwriting";
	color: #392f5a;
}

h2 {
	color: black;
	text-align: center;
}


p {
	color: #392f5a;
	font-size: 120%;
	padding: 10px;
}



header {
	grid-area: 1/1/1/4;
	background-color: #f6f5f4;
}

main {
	grid-area: 2/2/2/2;
	background-color: #525e94;
}

footer {
	grid-area: 3/2/3/2;
	text-align: right;
	color: #392f5a;
}

#email:hover {
	background-color: #abbce0;
}

#instagram:hover {
	background-color: #abbce0;
}

#company_name {
	grid-area: 1/2/1/2;
	background-color: #c5c1e6;
	padding: 1rem;
}




main img {
	border-radius: 25px;
}

#company_name img {
	height: 2em;
	width: auto;
}


#section-1 {
	background-color: #abbce0;
}

#section-2 {
	background-color: #c7dabf;
}

#section-3 {
	background-color: #abbce0;
}

#section-4 {
	background-color: #c7dabf;
}

#Contact {
	font-family: "Lucida Handwriting";
	font-size: 200%;
}

.image-1 {
	display: block;
	margin: auto;
	width: 50%;
	padding: 10px;
}

.image-2 {
	float: left;
	padding: 10px;
	height: 10rem;
	width: auto;
}

.image-3 {
	float: right;
	padding: 10px;
	height: 10rem;
	width: auto;
}

.image-4 {
	float: left;
	padding: 10px;
	height: 10rem;
	width: auto;
}

.image-5 {
	display: block;
	margin: 0 auto;
	width: 10rem;
}

em {
	color: orangered; /* Change the color of the italicized word */
	font-family: cursive;
}
